:root {
  --color-red: #eb5757;
  --color-black: #222;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
}

main .no-padding {
  padding: 0;
}

main .container .no-margin {
  margin: 0;
}
/* hero section */
.hero {
  height: 550px;
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url(../../img/hero\ section\ img.jpg);
  background-size: cover;
  background-position: 0px 0px, 50% 50%;
}

.hero-tittle-btn {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 130px 0;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-wrap: wrap;
  color: white;
}

.text-bigger {
  width: 45%;
  padding-bottom: 20px;
  font-size: 60px;
}

.p-text {
  width: 45%;
  padding-bottom: 20px;
  font-size: 18px;
}

/* support section */

.support-tittle-p1 .text-bigger {
  width: 100%;
  font-weight: 600;
  font-size: 40px;
}

.support-tittle-p2 .p-text {
  width: 100%;
}

.card {
}

.card-bg {
  background-color: var(--color-black);
  overflow: hidden;
  height: 23em;
  position: relative;
}

.card-number .text-bigger {
  color: #fff;
}
.card-title {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-title .text-bigger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.circle {
  position: absolute;
  top: 18em;
  left: 18em;
  overflow: hidden;
}

.triangle {
  position: absolute;
  top: 18em;
  left: 16.5em;
}

.square {
  position: absolute;
  top: 18em;
  left: 17em;
}

.card .p-text {
  margin-top: 60px;
  width: 100%;
}

/* safe section */

.safe {
  height: 550px;
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url(../../img/safe\ section\ pic.jpg);
  background-size: cover;
  background-position: 0px 0px, 50% 50%;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: flex-end;
  width: 100%;
}

.safe-tittle-btn {
  display: flex;
  flex-direction: column;

  justify-content: right;
  align-items: flex-end;
  text-align: right;
  text-wrap: wrap;
  color: white;
}

.safe-tittle-btn .text-bigger {
  font-size: 45px;
  width: 55%;
}

.safe-tittle-btn .p-text {
  width: 45%;
}
