:root {
  --color-red: #eb5757;
  --color-black: #222;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
}

main {
  display: inline-block;
  width: 100%;
}

.hero-img img {
  width: 100%;
}

main .bg-main > .row {
  margin: 0;
}

main .bg-main > .row .col-12 {
  margin: 0;
}
